<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 펜 장사
    body
        Pen
            ul
                li
                    a(href="/") 홈
                li
                    a(href="/Pen") 펜
        block content        